.person-item {
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.35 ease-in-out;
}

.person-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.person-details-inline {
  margin-top: 10px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.details-person {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details-person p {
  font-weight: 500;
  font-size: 12px;
  margin: 5px 0;
}

.detail-value {
  font-weight: normal;
}

.detail-row,
.address-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.address-container .detail-label {
  margin-right: 10px;
  flex: 1;
}

.detail-row .detail-label:last-child,
.address-container .detail-label:last-child {
  margin-right: 0;
  flex: 1;
  text-align: right;
}

.delete-icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
